<!-- views/partials/footer.ejs -->
<p></p>
<p class="text-center text-muted">Like to join the community build? Email us at: chainmapsocial@gmail.com</p>
<p class="text-center text-muted">© 2018 ChainMap Org</p>
