<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">

        <ul class="nav navbar-nav">
            <li><a href="/challenge"><font size="5"><b>Challenge</b></font></a></li>
            <li><a href="/search"><font size="5"><b>Search</b></font></a></li>
            <li><a href="/content"><font size="5"><b>Training</b></font></a></li>
        </ul>
    </div>

</div>
</nav>
