<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">

        <ul class="nav navbar-nav">
            <li><a href="/challenge">Challenge</a></li>
            <li><a href="/search">Whitepaper Search</a></li>
            <li><a href="/content">Training</a></li>
        </ul>
    </div>

</div>
</nav>
