<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <ul class="nav navbar-nav">
            <li><a href="/page"><font size="5"><b>Home</b></font></a></li>
            <li><a href="/about"><font size="5"><b>About</b></font></a></li>
        </ul>
    </div>

</div>
</nav>