<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

<header>
    <% include ./partials/developer-header %>
</header>

<main>
<h1>Training Materials</h1>

                 <table border="1" cellpadding="7" cellspacing="7">
					  <tr>
						<th width="50px">No</th>
						<th>Name</th>
						<th>Description</th>
						<th>Link</th>
					  </tr>
					  <% if(data.length){ 
						for(var i = 0;i < data.length;i++) { %>
					  <tr>
						<td><%=(i+1)%></td>
						<td><%=data[i].name%></td>
						<td><%=data[i].description%></td>
						<td><a href="<%=data[i].link%>">Link</a></td>
					  </tr>
			  		  <% }
  						}else{ %>
  						<tr>
   						 <td colspan="4">No user</td>
  						</tr>
					<% } %>

					</table>

</main>

<footer>
    <% include ./partials/footer %>
</footer>

</body>
</html>


