
<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body class="container">

  <header>
    <% include ./partials/developer-header %>
    
  <script type="text/javascript">
  function search(){
  	var query = document.getElementById("querybox").value;
    document.getElementById("numResults").innerHTML = "You are searching " + query;
    var reqUrl = "./query/" + encodeURI(query);
    document.getElementById("numResults").innerHTML = reqUrl;
    
    $.get( reqUrl, function( data ) {
      document.getElementById("numResults").innerHTML = "Found " + data.response.numFound + " results";
      // document.getElementById("foundResults").innerHTML = data.response.docs;
      var docs = data.response.docs;
      // document.getElementById("results1").innerHTML = docs[1].title;
      var resultsNode = document.getElementById("foundResults");
      while (resultsNode.firstChild) {
        resultsNode.removeChild(resultsNode.firstChild);
      };
      $.each(docs, function(index, value) {
        //<a href="http://localhost:3000/resource/whitepaper/ArcBlock.pdf" target="_blank">here</a>
        //<a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>

        // document.getElementById("foundResults").innerHTML += 
        // ('<a href="/resource/whitepaper/'+value.title+'" target="_blank" class="list-group-item list-group-item-action">'+
        //   '<h5>'+ value.title + '</h5>' +
        //   'Introduction of this file...., TBD' + 
        //   '</a>');

        // document.getElementById("foundResults").innerHTML += (
        //   '<a href="/resource/whitepaper/'+value.title+'" target="_blank" class="list-group-item" style="border: none">' +
        //   '<h4 class="list-group-item-heading" style="color:DodgerBlue;">'+ value.title +'</h4>' +
        //   '<p> Summary, todo, introduce the topic of this document. </p>' +
        //   '</a>'
        //   );

        document.getElementById("foundResults").innerHTML += (
          '<div class="row" margin-bottom: 4px>' +
          '<div class="col-sm-2"> ' +
          '<img src="image/files/pdf-ico.png" class="img-rounded" alt="" width="40" height="40" align="right">' +
          '</div>' +
          '<div class="col-sm-10"> ' +
          '<a href="/resource/whitepaper/'+value.title+'" target="_blank" class="list-group-item" style="border: none">' +
          '<h4 class="list-group-item-heading" style="color:DodgerBlue;">'+ value.title +'</h4>' +
          '<p class="list-group-item-text"> Summary, todo, introduce the topic of this document. </p>' +
          '<p class="list-group-item-text_small"> - Author: Anonymous - Publish Date: 04/01/2018 - Tags: Blockchain</p>' +
          
          '</a>' +
          '</div>' +
          '</div>'
          )






        // document.getElementById("foundResults").innerHTML += ('<li>' + value.title + '</li>');
      });

    });
  };

 
</script>
</header>

   
<div class="container-fluid text-center">    
    <div class="row content">
        <div class="col-sm-2 sidenav">        </div>

        <div class="col-sm-8 align-self-center">
            
            <div class="row main_content">
                <div class="row">
                    <div class="col-sm-9">
                        <!-- <label for="query"></label>
                        <input type="text" class="form-control list-group-item" id="query" size="50" placeholder="Blockchain" required> -->
                        <div class="input-group margin_top">
      						<input id="querybox" type="text" class="form-control" placeholder="Blockchain">
     						 <span class="input-group-btn">
       						 	<button onclick="search()" class="btn btn-primary" type="button">search</button>
      						</span>
    					</div>

                    </div>
                    <div class="col-sm-2">
                    </div>
                    
                </div>

                <div class="row" id="result_display">
                	<p id="numResults"></p>
                  
                  <!-- <p id="foundResults"></p> -->
                </div>

                <div class="row"> 
                  <div class="list-group" id="foundResults">
                    
                  </div>
                </div>

                </div>
            </div>


            


            <!-- <div class="row main_content"></div> -->
            <!-- <div class="row main_content"><p></p></div> -->

        </div>
        


        <div class="col-sm-2 sidenav"> 
         </div>
  </div>
</div>

</main>

<footer>
    <% include ./partials/footer %>
</footer>

</body>
</html>
