<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>

<header>
    <% include ./partials/header %>
</header>


<body class="container">

<main>

<center><H1>Your Own BlockChain Community</H1></center>
<center><h2>Blockchain Developer's Growth Platform and Solution Map</h2></center>

<p>
In 2017, we have seen 20M+ BlockChain wallet worldwide and 100x growth in ICO market and analysts are expecting $60 billion blockchain market(100x from now) impacting trillion dollar industries from payment, government, healthcare, crowdfunding. BloackChain has the ability to change all aspects of the digital economy. But BloackChain technology is not mature yet to handle challenges such as scalability, cost and cross-chain exchange. So we have not seen much real use cases to solve the real problems yet. So we as blockchain technology fans build ChainMap.org to support the community on use case analysis, finding solution and build connections with similar minds.
<br>
<ul>
	<li>Community of blockchain developers 
	<li>Training materials
	<li>White Paper Search Engine 
	<li>Challenge Events and Github which you can join and grow and get rewarded
</ul>	
</p>

<h2>Signup (or <a href="/login">Login</a>) to Lead You to Success</h2>
<br>
<form method="post" action="/register">
  
  <table>
    <tr><td>  
    <label>Email:</label>  
    </td><td>
    <input type="text" name="email" size="60">
    </td></tr>
   
    
     <tr><td> 
    <label>Password:</label>
    </td><td>
    <input type="text" name="password" size="60">
    </td></tr>
    
    
      <tr><td> 
  <label>Primary Interest BlockChain Category:</label>  
  </td><td>  
  <select name="primarycat">
    <option value="PublicChainInfr">Public Chain Infrastructure</option>
    <option value="EnterpriseChainInfr">Enterprise Chain Infrastructure</option>
    <option value="Finance">Finance</option>
    <option value="Data">Data</option>
    <option value="AI">AI</option>
    <option value="Identity">Identity</option>
    <option value="CopyRight">CopyRight</option>
    <option value="Social">Social</option>
    <option value="IOT">IOT</option>
    <option value="Law">Law</option>
    <option value="Entertainment">Entertainment</option>
    <option value="Game">Game</option>
    <option value="RealEstate">RealEstate</option>
    <option value="Charity">Charity</option>
    <option value="Enterprise">Enterprise</option>
    <option value="HealthCare">HealthCare</option>
    <option value="Energy">Energy</option>
    <option value="Agriculture">Agriculture</option>    
  </select>
  </td></tr>
   
    
   <tr><td> 
  <label>Seek partner?:</label>
  </td><td>
  <select name="partneryes">
    <option value="Yes">Yes</option>
    <option value="No">No</option>
  </select>
  </td></tr>
   
    
   <tr><td> 
    <label>Team Need Description (if looking for partner):</label>
    </td><td>
    <input type="text" name="teamneeds" size="60">
    </td></tr>
    
    
   <tr><td> 
    <label>Your Location:</label>
    </td><td>
    <input type="text" name="location" size="60">
    </td></tr>
    </table>
    
    <br>
    <input type="submit" value="Signup">
</form>


</main>

<footer>
    <% include ./partials/footer %>
</footer>

</body>
</html>